* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 900;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.week-goods {
  background-color: #e5e5e5;
  padding: 40px 0 60px 0;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.week-goods__header {
  color: #000000;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
  grid-gap: 1.25rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  color: #2f2f2f;
  min-height: 482px;
  max-width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  position: relative;
}

.card__img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.card-description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 24px;
}

.card__header {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}

.card__text {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
  margin-top: auto;
  background-color: transparent;
  border: 2px solid #42940f;
  border-radius: 8px;
  color: #42940f;
  font-size: 18px;
  text-transform: uppercase;
  padding: 13px;
  text-align: center;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.card__btn:hover {
  background-color: #42940f;
  color: #ffffff;
}

.card__btn:active {
  background: #1f5200;
  border: 2px solid #1f5200;
  color: #ffffff;
}

.card__btn:disabled {
  background: #4e4e4e;
  color: #ffffff;
  border: 1px solid #4e4e4e;
  cursor: not-allowed;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  gap: 16px;
  position: absolute;
  left: 16px;
  top: 16px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 1px 16px;
}

.tag--new {
  background: #fdcff3;
}

.tag--last {
  background: #ffcf56;
}
